# Project 2 Data Science 220

## Our Team: 
Liliana Inkpen: Processed, cleaned, and wrangling data into any needed formats. Helped perform exploratory data analysis and visualization and mapped questions into queries on Pandas. <br>
Fiona Rubino: Found dataset and helped create each question to analyze. Communicated insights as a text to shaer with others. <br>
Nathan Pechulis: Worked on questions to analyze and data wrangling the data set. Map questions into queries on the Pandas to find answers. <br>
Taryn McHugh: Created Github page, codespace, and largely worked on writing any pose. Helped collaborate on overall project. 

## Our Dataset
**IBDM 2280 Most Voted Movies**: This tabular dataset consists of listings of all the movies and tv shows available on Netflix, along with details such as - cast, directors, ratings, release year, duration, etc
<br>
- **index:** indexing the numbers in descending order from max votes to less
- **title:** title of movie/series 
- **rtime:** runtime of movie/series 
- **rating:** IMDB rating  
- **votes:** number of votes it gets on IMDB 
- **genre:** genre of movie/series seperated by '|' 
- **country:** countries in which Movie/Series got released, separated by '|'
- **releasedate:** date of release
- **filminglocation:** locations where it got shoot, separated by '|'
- **prodco:** production Companies, separated by '|'
- **years:** year in which it was released
- **director:** director of Movie/Series
- **writer:** writers of Movie/Series, separated by '|'
- **actors:** actors which performed in Movie/Series, separated by '|'
- **budget:** budget of Movie/Series
- **gross:** gross Income of Movie/Series
- **aspectratio:** asect Ratio of Movie/Series

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
IBDMData = pd.read_csv('IMDB_2280_Most_Voted_Movies.csv')
IBDMData.head()

,index,title,rtime,rating,votes,genre,country,releasedate,filminglocation,prodco,years,director,writer,actors,color,budget,gross,aspectratio,movielink
0,1,The Shawshank Redemption,142min,9.3,1853413,Crime|Drama,USA,14October1994(USA),St.Croix|U.S.VirginIslands,CastleRockEntertainment,1994.0,FrankDarabont,"StephenKing(shortstory""RitaHayworthandShawshan...",TimRobbins|BobGunton|ClancyBrown|MarkRolston|J...,Color(Technicolor),$25000000 estimated,$28341469(USA),1.85:1,http://www.imdb.com/title/tt0111161/?ref_=adv_...
1,2,The Dark Knight,152min,9.0,1832266,Action|Crime|Drama,USA|UK,18July2008(India),TimesSquare|CausewayBay|HongKong,WarnerBros.|LegendaryEntertainment|Syncopy,2008.0,ChristopherNolan,JonathanNolan(screenplay)|ChristopherNolan(scr...,ChristianBale|AaronEckhart|MaggieGyllenhaal|Mo...,Color(Technicolor),$185000000 estimated,$533316061(USA)(27February2009),2.35:1,http://www.imdb.com/title/tt0468569/?ref_=adv_...
2,3,Inception,148min,8.8,1622144,Action|Adventure|Sci-Fi,USA|UK,16July2010(India),Bedfordshire|England|UK,WarnerBros.|LegendaryEntertainment|Syncopy,2010.0,ChristopherNolan,NaN,LeonardoDiCaprio|EllenPage|KenWatanabe|Cillian...,Color,$160000000 estimated,$292568851(USA)(31December2010),2.35:1,http://www.imdb.com/title/tt1375666/?ref_=adv_...
3,4,Fight Club,139min,8.8,1485542,Drama,USA|Germany,15October1999(USA),421W.EighthStreet|LosAngeles|California|USA,Fox2000Pictures|RegencyEnterprises|LinsonFilms,1999.0,DavidFincher,ChuckPalahniuk(novel)|JimUhls(screenplay),EdwardNorton|MeatLoaf|RichmondArquette|GeorgeM...,Color,$63000000 estimated,$37023395(USA)(25February2000),2.35:1,http://www.imdb.com/title/tt0137523/?ref_=adv_...
4,5,Pulp Fiction,154min,8.9,1450538,Crime|Drama,USA,14October1994(USA),1435FlowerStreet|Glendale|California|USA,Miramax|ABandApart|JerseyFilms,1994.0,QuentinTarantino,QuentinTarantino(stories)|RogerAvary(stories)|...,TimRoth|LauraLovelace|SamuelL.Jackson|FrankWha...,Color,$8000000 estimated,$107930000(USA),2.35:1,http://www.imdb.com/title/tt0110912/?ref_=adv_...

# EXPLORATORY DATA ANAYLISIS/DATA VISUALIZATION

In [ ]:
a = np.array([1, 3, 2])
len(a)
a.sort()
a

**arange** : In analogy with the list range() function, we can create array ranges in NumPy using np.arange()

In [ ]:
r = np.arange(17)
r

Computations with numpy arrays are **much faster** than the corresponding operations with lists. Because NumPy itself is array-based, such computations **can also typically be expressed much more compactly**, without the need for loops or even comprehensions. In particular, NumPy arrays support vectorized operations, whereby we can (say) multiply every element in an array by a particular number all at once.

Import the numPy, Matplotlib and pandas libraries into the Python interpreter
Then load the data set for the Nobel Laureates and show the summary stats for numeric fields

In [ ]:
[3 * i for i in r]   # This is Python can be expressed more compactly as 
3 * a                # in numpy

**timeit** - we can use the timeit library to compare execution speeds for normal
Python and numpy structures. It Python let's do some heavy computation and time it:

In [ ]:
%%timeit
[i**2 for i in range(1000)]

using numpy?  -- You should see a huge difference in speeds!

In [ ]:
%%timeit
np.arange(1000)**2

Numpy also provides support for **multi-dimensional arrays**

In [ ]:
a = np.array([[1, 2, 3], [4, 5, 6]])
a

# **Data Visualization with Matplotlib**
Matplotlib is a powerful visualization tool for Python that can do an absurdly large number of awesome things.
The exact mechanics of getting Matplotlib plots to display varies widely depending on the exact details of your setup. The most explicit way to show plots, which works on most systems from the REPL, is to use the show() method:

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
x = np.linspace(-2, 2, 100)
fig, ax = plt.subplots(1, 1)
ax.plot(x, x*x)
plt.show()
%matplotlib inline

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

nobel = pd.read_csv("laureates.csv")
nobel.describe()

In [ ]:
nobel.head(10)

In [ ]:
nobel.info()

Let’s use array square brackets and a boolean criterion on the "surname" column to find record for the Physics noble laureate Feynman

In [ ]:
nobel[nobel["surname"] == "Feynman"]

In [ ]:
nobel[nobel["surname"] == "Feynman"].year

By using the correct index (i.e., 86), we can confirm that the value in that case is True:

In [ ]:
(nobel["surname"] == "Feynman")[86]

Another method for getting the year is by specifying the column along with the boolean criterion, which we might try like this (only the most relevant line of output is shown). This returns just the overall id (in this case, 86) and the column of interest.

In [ ]:
nobel.loc[nobel["surname"] == "Feynman", "year"]

In [ ]:
nobel.loc[nobel["firstname"].str.contains("Kip")]

In [ ]:
nobel.loc[nobel["surname"].isnull()]

In [ ]:
nobel.loc[nobel["surname"].str.contains("Feynman", na=False)]

In [ ]:
curies = nobel.loc[nobel["surname"].str.contains("Curie", na=False)]
curies

In [ ]:
curies[["firstname", "surname"]]

In [ ]:
nobel.groupby(["firstname", "surname"]).size()

In [ ]:
nobel.groupby(["firstname", "surname"]).size().sort_values()

In [ ]:
laureates = nobel.groupby(["id", "firstname", "surname"])
sizes = laureates.size()
sizes[sizes > 1]

In [ ]:
nobel.loc[nobel["born"] == "1879-03-14"]

In [ ]:
nobel.loc[nobel["born"].str.contains("06-08", na=False)]